.margin {
  margin: 30px 10px;
}
.card-title {
  font-family: "Source Sans Pro", sans-serif;
}
.playlistName {
  max-height: 295px;
  margin: 30px 10px;
  border-radius: 0;
  box-shadow: 0 4px 20px 0 #9e9e9e, 0 7px 10px -1px #00b4d8;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  margin: 60px 0px;
  color: #566467;
}
.playlistName:hover {
  background: #48cae5;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 20px 0 #9e9e9e, 0 7px 10px -5px #9e9e9e;
}
.contentWrapper {
  cursor: pointer;
}
