.accessWrap {
  background-image: url("https://i.pinimg.com/originals/0d/50/56/0d50569f3b398382d0c8caa3f70cd760.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.accessContent {
  margin-top: 33px;
}
@media only screen and (max-width: 770px) {
  .accessWrap {
    background-image: url("https://i.redd.it/qwd83nc4xxf41.jpg");
  }
  .accessContent {
    margin-top: auto;
    position: absolute;
    top: 50%;
    left: 30%;
  }
}
